<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="templateDocumentPath" value="C:\\Prodapps\\PrintNameCard\\MCUPINLetter.doc" />
    <add key="mcupInLetterHKPath" value="MCUPINLetter.txt" />
    <add key="logPath" value="log.txt" />
    <add key="printerName" value="MCUPINLetter" />
  </appSettings>
</configuration>