<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http server">
		<clientProviders>
                        <formatter ref="binary"/>
                </clientProviders>
	</channel>
      </channels>
      <service>
        <wellknown mode="SingleCall" type="INGLife.DBAccess.Database, INGLife.DBAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=59471dc2f825e8a3" objectUri="INGLife.DBAccess.Database.soap" />
        <activated type="INGLife.DBAccess.Database, INGLife.DBAccess" />
      </service>
    </application>
    <customErrors mode="Off" />
  </system.runtime.remoting>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>