<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="INGLife.CS2005.MQConnect, INGLife.CS2005, Version=1.0.0.0, Culture=neutral, PublicKeyToken=59471dc2f825e8a3" objectUri="INGLife.CS2005.MQConnect.soap" />
        <activated type="INGLife.CS2005.MQConnect, INGLife.CS2005" />
        <wellknown mode="SingleCall" type="INGLife.CS2005.CS2005, INGLife.CS2005, Version=1.0.0.0, Culture=neutral, PublicKeyToken=59471dc2f825e8a3" objectUri="INGLife.CS2005.CS2005.soap" />
        <activated type="INGLife.CS2005.CS2005, INGLife.CS2005" />
		
		<formatter ref="binary"/>
      </service>
    </application>
   <customErrors mode="off" />
  </system.runtime.remoting>
  <system.web>
    <roleManager enabled="true" />
  </system.web>
</configuration>