<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ComCtl" version="20250417.0.7" targetFramework="net35" />
  <package id="ING.Life.Win" version="1.0.5" targetFramework="net35" />
  <package id="ING.Win" version="1.0.5" targetFramework="net35" />
  <package id="LifeClientInterfaceComponent" version="20250417.0.7" targetFramework="net35" />
  <package id="POSCommCtrl" version="20250417.0.7" targetFramework="net35" />
  <package id="POSMain" version="20250417.0.7" targetFramework="net35" />
  <package id="SysEventLog" version="20250417.0.7" targetFramework="net35" />
  <package id="Utility" version="20250417.0.7" targetFramework="net35" />
</packages>