<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CS2005.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <!--Calling hkcom2003dev1(10.10.18.235) dotNet remoting service-->
    <add key="ICS2005" value="http://10.10.18.235/CS2005Service/INGLife.CS2005.CS2005.soap" />
    <add key="ISecurity" value="http://10.10.18.235/DBAccessService/INGLife.DBAccess.Database.soap" />
    
    <!--Calling hkcomsit1(10.10.18.241) dotNet remoting service
		<add key="ICS2005" value="http://10.10.18.241/CS2005Service/INGLife.CS2005.CS2005.soap" />
		<add key="ISecurity" value="http://10.10.18.241/DBAccessService/INGLife.DBAccess.Database.soap" /> -->

    <!--Calling hkcom2003UAT1(10.10.18.103) dotNet remoting service
		<add key="ICS2005" value="http://10.10.18.103/CS2005Service/INGLife.CS2005.CS2005.soap" />
		<add key="ISecurity" value="http://10.10.18.103/DBAccessService/INGLife.DBAccess.Database.soap" /> -->

    <!--Calling hkcomdev2(10.10.18.44) dotNet remoting service, For HKL-->
    <add key="ICRS" value="http://10.10.18.44/HKLCRSService/HKL.CRS.CRS.soap" />
    <add key="ISecurityHKL" value="http://10.10.18.44/HKLDBAccessService/HKL.DBAccess.Database.soap" />

    <!--Calling hkcomdev2(10.10.18.44) dotNet remoting service, For HKL-->
    <add key="ISSO" value="http://10.10.18.44/SSOComNetService/INGLife.SSOCom.SsoClsSysInfoBus.soap" />

    <add key="SMTPServer" value="10.10.1.25" />
    <!--<add key="AS400" value="ITDTMS" /> not in use-->
    <add key="QLimit" value="15000" />
    <add key="useSSO" value="1" />
    <add key="userInput" value="1" />
    <!--<add key="SQLServer" value="HKSQLVS1" /> not in use-->
    <add key="DefaultEnvironment" value="D203" />
    <add key="UAT" value="1" />
    <add key="Company" value="ING" />
    <add key="CNBConnectionAlias" value="INGCNBUAT1" />

    <add key="PolicyWSURL" value="https://uat-appserv.fwd.com.hk/giweb/" />
    <add key="PolicyWSFuncName" value="search" />
    <add key="PolicyWSUser" value="scv_pdf_user" />
    <add key="GIPolicyGroupWSFuncName" value="getGIPolicyGroupType" />
    <add key="GIEBPolicyGroupWSFuncName" value="getEBPolicyCompanyIdAndType" />
    <add key="ProxyURL" value="http://10.10.1.84:80/" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPwd" value="" />
    <add key="UseProxy" value="0" />

    <add key="TapNGoWSURL" value="http://10.10.18.67:8080/tngws_uat/" />
    <add key="VisitCSCheckWSFuncName" value="checkVisitCSFlag" />
    <add key="VisitCSUpdateWSFuncName" value="updateVisitCSFlag" />
    <add key="CheckOTPLockWSFuncName" value="checkOTPLockStatus" />
    <add key="UnfreezeOTPWSFuncName" value="unfreezeOTPFunction" />
    <add key="PendingTxnWSFuncName" value="getPendingTransaction" />
    <add key="GetCSViewFuncName" value="getTngCSView" />
    <add key="IsLAS" value="False" />

    <add key="OptinWebURL" value="https://uat-appserv.fwd.com.hk/optinweb/crm/search" />
    <add key="OptinWSURL" value="http://10.10.18.137:8080/optinws/" />
    <add key="CheckCrmUserFuncName" value="checkCrmUser" />

	<add key="GetOdsidFuncName" value="getOdsId" />
    <add key="GetInitOptoutFlagFuncName" value="getInitOptOut" />
    <add key="OptinSearchValue" value="0" />
    <!-- 0:Cust ID only, 1: Cust ID + Name + Passport, 2: Cust ID + HKID, 3: Cust ID + HKID + Passport + Name -->
    <add key="7ElevenPayoutWSURL" value="http://10.10.18.134:8080/payoutws/" />
    <add key="UnfreezePayoutWSFuncName" value="unfreezePayout" />
    <add key="VoidPayoutWSFuncName" value="voidPayout" />
    <add key="SrhPayoutWSFuncName" value="searchPayout" />
    <add key="SrhSmsHistWSFuncName" value="searchPayoutSMSHistory" />
    <add key="ResendSmsWSFuncName" value="resendSMS" />

    <add key="ChatbotCICWebURL" value="http://10.10.18.106:4203" />
    <add key="BackdoorRegGenKeyURL" value="http://10.10.18.170:3000/api/v1/registration/backdoor/" />
    <add key="BackdoorRegGenKeyFuncName" value="genKey" />

    <add key="MCU_USER" value="ITOPER" />
    <add key="MCU_PROJ_ALIAS" value="LAS" />
    <add key="MCU_ENV" value="PRD01" />
    <add key="MCU_COMP_NAME" value="MCU" />
    <add key="MCU_CONN_ALIAS" value="MCUCIWPRD01" />
    <add key="MCU_USER_TYPE" value="LASUPDATE" />

    <add key="MEDIUM_DEFAULT" value="PC" />
    <add key="EVENTCATEGORY_DEFAULT" value="20" />
    <add key="EVENTDETAIL_DEFAULT" value="15" />
    <add key="EVENTTYPEDETAIL_DEFAULT" value="10" />
    <add key="EVENTSOURCEIND_DEFAULT" value="CTR" />
    <add key="STATUS_DEFAULT" value="C" />

    <add key="MCUUSR_MLDCHM" value="True" />
    <add key="MCUUSR_MLDIMW" value="True" />
    <add key="MCUUSR_MLDKWV" value="True" />
    <add key="MCUUSR_MLDMJQ" value="True" />
    <add key="MCUUSR_MLDMLL" value="True" />
    <add key="MCUUSR_MLDMWL" value="True" />
    <add key="MCUUSR_MLDPHT" value="True" />
    <add key="MCUUSR_MLDPSJ" value="True" />
    <add key="MCUUSR_MLDSCN" value="True" />
    <add key="MCUUSR_MLDWHN" value="True" />
    <add key="MCUUSR_MLDYSS" value="True" />
    <add key="MCUUSR_ITDKWY" value="True" />

	<add key="icontekchatbot_prd" value=" http://10.11.227.32"/> 
    <add key="icontekchatbot_uat" value="http://10.10.235.33"/>

  </appSettings>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" useDefaultCredentials="true" clientConnectionLimit="2">
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <applicationSettings>
    <CS2005.My.MySettings>
      <setting name="LAReady" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- WS URL get from Utility.dll, not used here -->
      <setting name="CS2005_CNBWrapper_NBWrapper" serializeAs="String">
        <value>http://hkcomdev2/CNBWS/NBWRAPPER.ASMX</value>
      </setting>
      <setting name="CS2005_CommonWS_Service" serializeAs="String">
        <value>http://hkcomdev2/CommonWS/service.asmx</value>
      </setting>
      <setting name="CS2005_NBAWS_NBAWS" serializeAs="String">
        <value>http://hkcomdev2/nbaws/nbaws.asmx</value>
      </setting>
      <setting name="CS2005_POSWS_POSWS" serializeAs="String">
        <value>http://hkcomdev2/POSWS/POSWS.asmx</value>
      </setting>
      <setting name="CS2005_CCRWS_Service" serializeAs="String">
        <value>http://hkcomdev2/CCRWS/Service.asmx</value>
      </setting>
    </CS2005.My.MySettings>
  </applicationSettings>
</configuration>
