<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CS2005.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="Utility" value="Y" />
		<add key="WebServiceEnv" value="" />
		<add key="ConfigFilePath" value="C:\Git Source17\HK_CRS\FrontEnd\CRS_Component\Utility\Configuration.xml"/>
		<add key="PolicyTestCases" value=""/>
		<add key="QueryRpuData" value=""/>

		<add key="ICS2005" value="http://HKGCOMDEV01.hk.intranet/CS2005Service/INGLife.CS2005.CS2005.soap" />
		<add key="ISecurity" value="http://HKGCOMDEV01.hk.intranet/DBAccessService/INGLife.DBAccess.Database.soap" />
		<add key="ICRS" value="http://10.10.18.44/HKLCRSService/HKL.CRS.CRS.soap" />
		<add key="ISecurityHKL" value="http://10.10.18.44/HKLDBAccessService/HKL.DBAccess.Database.soap" />
		<add key="ISSO" value="http://10.10.18.44/SSOComNetService/INGLife.SSOCom.SsoClsSysInfoBus.soap" />
		<add key="SMTPServer" value="10.10.18.46" />
		<add key="AS400" value="ITDTMS" />
		<add key="QLimit" value="15000" />
		<add key="useSSO" value="1" />
		<add key="userInput" value="1" />
		<add key="SQLServer" value="hksqlsit1" />
		<add key="DefaultEnvironment" value="U202" />
		<add key="UAT" value="1" />
		<add key="Company" value="ING" />
		<add key="CNBConnectionAlias" value="hksqlsit1" />
		<add key="PolicyWSURL" value="https://uat-appserv.fwd.com.hk/giweb/" />
		<add key="PolicyWSFuncName" value="search" />
		<add key="PolicyWSUser" value="scv_pdf_user" />
		<add key="GIPolicyGroupWSFuncName" value="getGIPolicyGroupType" />
		<add key="GIEBPolicyGroupWSFuncName" value="getEBPolicyCompanyIdAndType" />
		<add key="TapNGoWSURL" value="http://hkgjavaappuat01:8080/tngws_u202/" />
		<add key="VisitCSCheckWSFuncName" value="checkVisitCSFlag" />
		<add key="VisitCSUpdateWSFuncName" value="updateVisitCSFlag" />
		<add key="CheckOTPLockWSFuncName" value="checkOTPLockStatus" />
		<add key="UnfreezeOTPWSFuncName" value="unfreezeOTPFunction" />
		<add key="PendingTxnWSFuncName" value="getPendingTransaction" />
		<add key="GetCSViewFuncName" value="getTngCSView" />
		<add key="IsLAS" value="False" />
		<add key="OptinWebURL" value="https://uat-appserv.fwd.com.hk/optinweb/hk/t106/crm/search"/>
		<add key="OptinWSURL" value="http://uat-apihk.hk.intranet/customer-api/v1/optinws/" />
		<add key="CheckCrmUserFuncName" value="checkCrmUser" />
		<add key="ChatbotCICWebURL" value="http://10.10.18.106:4203" />
		<!--<add key="BackdoorRegGenKeyURL" value="http://10.10.18.170:3000/api/v1/registration/backdoor/" />-->
		<add key="BackdoorRegGenKeyURL" value="https://10.155.31.72:3000/api14/api/v1/registration/backdoor/" />
		<add key="BackdoorRegGenKeyFuncName" value="genKey" />
		<add key="PiAuthGenKeyURL" value="http://10.10.18.70:3010/api/v1/registration/backdoor/" />
		<add key="PiAuthGenKeyFuncName" value="genKeyPICust" />
		<add key="GetOdsidFuncName" value="getOdsId" />
		<add key="GetInitOptoutFlagFuncName" value="getInitOptOut" />
		<add key="OptinSearchValue" value="0" />
		<!-- 0:Cust ID only, 1: Cust ID + Name + Passport, 2: Cust ID + HKID, 3: Cust ID + HKID + Passport + Name -->
		<add key="7ElevenPayoutWSURL" value="http://10.10.18.67:8080/payoutws/" />
		<add key="UnfreezePayoutWSFuncName" value="unfreezePayout" />
		<add key="VoidPayoutWSFuncName" value="voidPayout" />
		<add key="SrhPayoutWSFuncName" value="searchPayout" />
		<add key="SrhSmsHistWSFuncName" value="searchPayoutSMSHistory" />
		<add key="ResendSmsWSFuncName" value="resendSMS" />
		<add key="MCU_USER" value="ITOPER" />
		<add key="MCU_PROJ_ALIAS" value="LAS" />
		<add key="MCU_ENV" value="S105" />
		<add key="MCU_COMP_NAME" value="MCU" />
		<add key="MCU_CONN_ALIAS" value="MCUCIWS105" />
		<add key="MCU_USER_TYPE" value="LASUPDATE" />
		<add key="MEDIUM_DEFAULT" value="PC" />
		<add key="EVENTCATEGORY_DEFAULT" value="20" />
		<add key="EVENTDETAIL_DEFAULT" value="15" />
		<add key="EVENTTYPEDETAIL_DEFAULT" value="10" />
		<add key="EVENTSOURCEIND_DEFAULT" value="CTR" />
		<add key="STATUS_DEFAULT" value="C" />
		<add key="MCUUSR_MLDCHM" value="True" />
		<add key="MCUUSR_MLDIMW" value="True" />
		<add key="MCUUSR_MLDKWV" value="True" />
		<add key="MCUUSR_MLDMJQ" value="True" />
		<add key="MCUUSR_MLDMLL" value="True" />
		<add key="MCUUSR_MLDMWL" value="True" />
		<add key="MCUUSR_MLDPHT" value="True" />
		<add key="MCUUSR_MLDPSJ" value="True" />
		<add key="MCUUSR_MLDSCN" value="True" />
		<add key="MCUUSR_MLDWHN" value="True" />
		<add key="MCUUSR_MLDYSS" value="True" />
		<add key="MCUUSR_ITDKWY" value="True" />
		<add key="TransactionWSURL" value="http://HKGJAVAAPPUAT01.hk.intranet:8080/transactionws/" />
		<add key="MerchantTransactionHistoryFuncName" value="getTransactionHistory" />
		<add key="MerchantProductFuncName" value="getMerchantProductInfo" />
		<add key="MerchantProductList" value="MIS1" />
		<add key="icontekchatbot_prd" value="http://10.11.227.32" />
		<add key="icontekchatbot_uat" value="http://10.10.235.33" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<add key="PdfPrintPath" value="C:\RCS_output\"/>
		<add key="PdfPrintCompanyName" value="FWD Life Insurance Company (Bermuda) Limited (Incorporated in Bermuda with limited liability)"/>
		<add key="PdfPrintLicenseKey" value="g/4JFMjn6KsMFdO/GCNvTKh/fbcxV6Pu/0iK75MUMSdg7vSTWzQzoKitq5f1C4dxxyBjYrtnr9ahaF87dOFq+qQlXvFRGXkfI6vo9G3xmSFJRgKn0Twe1BO+vGRpjw/0emUnEnZr+cQ2e5Z3SKZuLUmybDu4jXDwarfp3ACZodyQvtEsWYrxKAVd52oIKpsVJOgcEWijUL1vNDfk4VrokHrDCCG5diFG"/>

		<add key="HK_7ElevenCallAPIParameter_MerchantId" value="201000001"/>
		<!--PROD : 301000001-->
		<add key="MCU_7ElevenCallAPIParameter_MerchantId" value="202000001"/>
		<!--PROD : 302000001-->
		<add key="frmEmail" value="noreply@fwd.com"/>
		<add key="KongAPIKey" value="NAJl2wSwqLO61kxHu9SqNa3annQACPGR" />
	</appSettings>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" useDefaultCredentials="true" clientConnectionLimit="2">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<applicationSettings>
		<CS2005.My.MySettings>
			<setting name="LAReady" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CS2005_DMSWS_CodeMappingServiceImplService" serializeAs="String">
				<value>http://10.10.218.101:8080/services/codeMappingService</value>
			</setting>
			<setting name="strCIWConn" serializeAs="String">
				<value>max pool size=500;server=HKSQLUAT1;database=INGCIWU202;Network=DBMSSOCN;uid=com_las_ing;password=XXXXX</value>
			</setting>
			<setting name="strUPSConn" serializeAs="String">
				<value>max pool size=500;server=HKSQLUAT1;database=INGPROFILEU202;Network=DBMSSOCN;uid=com_las_ing;password=XXXXX</value>
			</setting>
			<setting name="strMPFConn" serializeAs="String">
				<value>server=HKSQLUAT1;database=MPFAETNA;Network=DBMSSOCN;uid=com_las_ing;password=XXXXX</value>
			</setting>
			<setting name="strMCSConn" serializeAs="String">
				<value>max pool size=500;server=HKSQLUAT1;database=INGMCSU202;Network=DBMSSOCN;uid=com_las_ing;password=XXXXX</value>
			</setting>
			<setting name="strMJCConn" serializeAs="String">
				<value>max pool size=500;server=HKSQLUAT1;database=INGMCSU202;Network=DBMSSOCN;uid=com_las_ing;password=XXXXX</value>
			</setting>
			<setting name="CS2005_CRSWS_CRSWS" serializeAs="String">
				<value>http://whkeascrsappu01.hk.intranet/INGU202CRSWS/CRSWS.asmx</value>
			</setting>
			<setting name="CS2005_MCSWS_MCSWS" serializeAs="String">
				<value>http://WHKEASLASAPPU02.hk.intranet/INGU202claimws/MCSWS.asmx</value>
			</setting>
			<setting name="CS2005_LEVYWS_LEVYWS" serializeAs="String">
				<value>http://WHKEASLASAPPU02.hk.intranet/ingU202Levyws/LevyWS.asmx</value>
			</setting>
			<setting name="CS2005_CCRWS_Service" serializeAs="String">
				<value>http://WHKEASLASAPPU02.hk.intranet/INGU202CCRWS/Service.asmx</value>
			</setting>
			<setting name="CS2005_CNBWrapper_NBWrapper" serializeAs="String">
				<value>http://WHKEASLASAPPU02.hk.intranet/INGU202CNBWS/NBWrapper.asmx</value>
			</setting>
			<setting name="CS2005_NBAWS_NBAWS" serializeAs="String">
				<value>http://WHKEASLASAPPU02.hk.intranet/INGU202NBAWS/NBAWS.asmx</value>
			</setting>
			<setting name="CS2005_CommonWS_Service" serializeAs="String">
				<value>http://WHKEASLASAPPU02.hk.intranet/ingU202commonws/service.asmx</value>
			</setting>
			<setting name="CS2005_POSWS_POSWS" serializeAs="String">
				<value>http://WHKEASLASAPPU02.hk.intranet/INGU202POSWS/POSWS.asmx</value>
			</setting>
			<setting name="CS2005_CoBrowsUrl" serializeAs="String">
				<value>http://10.10.218.125:11020/#/login?lang=eng</value>
			</setting>
			<setting name="CS2005_AAUrl" serializeAs="String">
				<value>https://uat-eservices.hk.intranet/aa/fwd/landing/cer/</value>
			</setting>
			<setting name="CS2005_AAUrl_MC" serializeAs="String">
				<value>https://uat-eservices.fwd.com.hk/MCaa4/fwd/landing/cer/</value>
			</setting>
			<setting name="CS2005_SPAdd" serializeAs="String">
				<value>kenny.siu@fwd.com</value>
			</setting>
			<setting name="CS2005_SPCCAdd" serializeAs="String">
				<value>kenny.siu@fwd.com;alex.th.lee@fwd.com</value>
			</setting>
			<setting name="CS2005_CCMWS_CCMWS" serializeAs="String">
				<value>http://whkeaslasappu02.hk.intranet/INGU102CCMWS/CCMWS.asmx</value>
			</setting>
		</CS2005.My.MySettings>
	</applicationSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>