<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADODB" version="7.10.3077" targetFramework="net40" />
  <package id="AxInterop.SHDocVw" version="1.0.0" targetFramework="net40" />
  <package id="BOSchema" version="20250417.0.7" targetFramework="net40" />
  <package id="ComCtl" version="20250417.0.7" targetFramework="net40" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net40" />
  <package id="DBLogon_NET" version="1.0.1" targetFramework="net40" />
  <package id="HashidsNet" version="1.0.0" targetFramework="net40" />
  <package id="HKL.Interface.ICRS" version="1.0.0" targetFramework="net40" />
  <package id="HKL.Interface.ISecurity" version="1.0.0" targetFramework="net40" />
  <package id="ING.Life" version="1.0.5" targetFramework="net40" />
  <package id="ING.Life.Win" version="1.0.5" targetFramework="net40" />
  <package id="ING.Win" version="1.0.5" targetFramework="net40" />
  <package id="ING_SOAPHeader" version="1.1.89" targetFramework="net40" />
  <package id="INGLife.Interface.ICS2005" version="1.0.0" targetFramework="net40" />
  <package id="INGLife.Interface.ISecurity" version="1.0.0" targetFramework="net40" />
  <package id="INGLife.Interface.ISSOCom" version="1.0.0" targetFramework="net40" />
  <package id="Interop.Microsoft.Office.Core" version="2.2.0" targetFramework="net40" />
  <package id="Interop.SHDocVw" version="1.1.0" targetFramework="net40" />
  <package id="LCPClient" version="1.0.0" targetFramework="net40" />
  <package id="LifeClientInterfaceComponent" version="20250417.0.7" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="12.0.4518.1014" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Outlook" version="12.0.4518.1014" targetFramework="net40" />
  <package id="NDde" version="2.01.0563" targetFramework="net40" />
  <package id="NewBusinessAdmin" version="20250417.0.7" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="PdfPrintingNet" version="4.10.5" targetFramework="net40" />
  <package id="POSCommCtrl" version="20250417.0.7" targetFramework="net40" />
  <package id="POSMain" version="20250417.0.7" targetFramework="net40" />
  <package id="PosUtils2" version="20250417.0.7" targetFramework="net40" />
  <package id="SysEventLog" version="20250417.0.7" targetFramework="net40" />
  <package id="Utility" version="20250417.0.7" targetFramework="net40" />
</packages>